/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*reset css END*/

/*fonts*/

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*fonts END*/


body{
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
}

img{
  width: 100%;
}

.intro__wrapper{
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper{
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 10px;
}

.section__title{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section__title::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background: #006DFE;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*header*/



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  padding-bottom: 15px;
  transition: .2s linear;
  z-index: 999;
}

.header_active{
  background: #0E1D28;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}



.header__nav ul{
  display: flex;
  flex-wrap: wrap;
}

.nav__item_link{
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.nav__item_link:hover, .nav__item_link:focus {
  opacity: .5;
}

.nav__item{
  margin-right: 82px;
}

.nav__item:last-child{
  margin-right: 0px;
}

.header__burger{
  display: none ;
  position: relative;
  width: 40px;
  height: 28px;
}

.burger__line{
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger__line_first{
  top: 0px;
}

.burger__line_second{
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third{
  bottom: 0px;
}

/*header END*/

/*intro*/

.intro__title{
  margin-top: 263px;
  margin-bottom: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.intro__subtitle{
  max-width: 546px;
  margin-bottom: 54px;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.intro__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 150px;
}

.search-form__field{
  width: 297px;
  background: url(../img/svg/Oval.svg) no-repeat left 8px ;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  border-bottom: 2px solid #BFC0C5;
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 60px;
}

.search-form__field::placeholder{
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__button{
  padding: 15px 39px;
  background-color: #1B7DFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.search-form__button:hover, .search-form__button:focus{
  background-color: #006EFF;
}

/*intro END*/

/*benefits*/

.benefits{
  max-width: 1262px;
  margin: 0 auto;
}

.benefits__block{
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  padding: 93px 100px 111px;
  margin-bottom: 130px;
}

.benefits__title{
  margin-bottom: 120px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.benefits__cards{
  display: flex;
  justify-content: space-between;
}

.benefits__card{
  max-width: 317px;
}

.benefits__card_img{
  width: 66px;
  height: 66px;
  margin-bottom: 36px;
}

.benefits__card__title{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}

.benefits__card_subtitle{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 40px;
}

.benefits__card__more{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg) no-repeat right;
}

.benefits__card__more:hover{
  text-decoration: underline;
}

/*benefits END*/

/*trip*/

.trip__title{
  display: inline;
}

.trip__link_view-all{
  display: inline;
  float: right;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg) no-repeat right;
  margin-top: 15px;
}

.trip__link_view-all:hover{
  text-decoration: underline;
}

.trip__cards{
  margin: 46px 0 131px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.trip__card_size_lg{
  grid-column: span 3;
  max-height: 354px;
}

.trip__card_size_sm{
  grid-column: span 2;
  max-height: 283px;
}

.trip__card_img{
  height: 100%;
  object-fit: cover;
  transition: .15s;
}

.trip__card{
  position: relative;
  overflow: hidden;
}

.trip__card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(21, 24, 36, 0.4);
}

.trip__card_title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 2;
}

.trip__card:hover .trip__card_img{
  transform: scale(1.05);
}

.trip__card_link{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/*trip END*/

/*articles*/

.article{
display: flex;
}

.article:first-child{
  margin-bottom: 77px;
}

.article:last-child{
  margin-bottom: 139px;
}

.article__info{
  display: flex;
  flex-direction: column;
  max-width: 519px;
  min-width: 260px;
}

.article__pic{
  max-width: 597px;
  min-width: 260px;
}

.article__pic:first-child{
  margin-right: 108px;
}

.article__pic:last-child{
  margin-left: 108px;
}

.article__info_title{
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  font-family: Lato;
  margin-bottom: 85px;
}

.article__info_description{
  font-family: Lato;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  font-style: normal;
  margin-bottom: 58px;
}

.article__info_link{
  font-family: Lato;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #006DFE;
  width: 239px;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.article__info_link:hover{
  text-decoration: underline;
}

/*articles END*/

/*top*/

.top__title{
  margin-bottom: 55px;
}

.top__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 52px;
  row-gap: 58px;
}

.top__card_pic{
  position: relative;
  margin-bottom: 45px;
}

.top__card_stats{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 15px 25px;
}

.top__card_title{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.card__like-comment{
  display: flex;
}

.top__card_likes{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 20px;
  position: relative;
  margin-right: 14px;
}

.top__card_likes::after{
  content: url(../img/svg/heart.svg);
  position: absolute;
  top: 2px;
  right: 0;
}

.top__card_comments{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 20px;
  position: relative;
  margin-right: 14px;
}

.top__card_comments::after{
  content: url(../img/svg/comment.svg);
  position: absolute;
  top: 3px;
  right: 0;
}

.top__card_description{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}

.top__card_button{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #006DFE;
  padding: 12px 19px;
  margin-bottom: 145px;
}

.top__card_button:hover{
  background: #2174E1;
}

.top{
  margin-bottom: 145px;
}

/*top END*/

/*video*/


.video__section{
  width: 100%;
}

.video__wrapper{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item{
  padding-top: 56.25%;
}

.video__element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*video END*/


/*footer*/

.footer{
  background: #0E1D28;
  padding: 120px 0;
}

.footer__wrapper{
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo{
  width: 170px;
  height: 64px;
}

.footer__nav{
  display: flex;
  flex-wrap: wrap;
}

.footer__nav_list{
  margin-right: 140px;
}

.footer__nav_list:last-child{
  margin-right: 0;
}

.nav__title{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.nav__list_link{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.nav__list_link:hover{
  text-decoration: underline;

}

.nav__list_item{
  margin-bottom: 3px;
}

/*footer END*/















/*media*/

@media screen and (max-width:1100px){
  .benefits__card{
    margin-right: 40px;
  }
  .benefits__card:last-child{
    margin-right: 0px;
  }
  .article__pic_img{
    height: 100%;
  }
  .article__info_title{
    margin-bottom: 0px;
  }
  .article__info_description{
    margin-bottom: 0;
  }
  .article__info{
    justify-content: space-between;
  }
  .footer__wrapper{
    padding: 0 10px;
  }
}

@media screen and (max-width:935px){
  .benefits__card__title{
    width: 152px;
  }
}



@media screen and (max-width:904px){
  .search-form__field{
    height: 40px;
    padding-bottom: 10px;
    background: url(../img/svg/Oval.svg) no-repeat left 6px ;
    margin-bottom: 40px;
  }

  .article__pic:first-child{
    margin-right: 45px;
  }
  .article__pic:last-child{
    margin-left: 45px;
  }
  .article:first-child{
    margin-bottom: 40px;
  }


  .top__cards{
    column-gap: 25px;
    row-gap: 37px;
  }
  .top__card_pic{
    margin-bottom: 20px;
  }
  .video_item{
    height: 400px;
  }
  .footer{
    padding: 50px 0;
  }
}

@media screen and (max-width:840px){
  .article__pic_img{
    height: 176px;
  }
  .top__card_title{
    font-size: 14px;
  }
  .top__card_likes{
    font-size: 14px;
  }
  .top__card_comments{
    font-size: 14px;
  }
  .top__card_likes::after{
    content: url(../img/svg/heart.svg);
    position: absolute;
    top: 2px;
    right: 0;
    /*в топ шрифты на картинках*/
  }
}

@media screen and (max-width:737px){
  .nav__item{
    margin-right: 40px;
  }
  .intro__form{
    flex-direction: column;
  }
  .search-form__button{
    width: 297px;
  }
  .benefits__cards{
    flex-wrap: wrap;
  }
  .benefits__card{
    display: flex;
    flex-wrap: wrap;
    max-width: 225px;
    margin-bottom: 45px;
  }

  .benefits__card_img{
    width: 45px;
    height: 45px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .benefits__card_subtitle{
    margin-bottom: 25px;
  }

  .trip__card_title{
    font-size: 30px;
  }

  .article__info_description{
    margin-bottom: 20px;
  }
  .article{
    flex-direction: column;
  }
  .article__pic_img{
    height: unset;
  }
  .article__pic:last-child{
    margin-left: 0;
  }
  .article__pic:first-child{
    margin-right: 0;
  }
  .article__pic{
    order: 2;
  }
  .footer__nav_list{
    margin-right: 70px;
  }
  .intro__form{
    margin-bottom: 132px;
  }
  .header__wrapper{
    margin-top: 20px;
  }



}

@media screen and (max-width:615px){
  .video_item{
    height: 300px;
  }
  .footer__logo{
    margin-bottom: 45px;
  }
  .top__cards{
    grid-template-columns: repeat(6, 1fr);
  }
  .top__card{
    grid-column: span 3;
  }
  .trip__card_size_lg{
    grid-column: span 6;
  }
  .trip__card_size_sm{
    grid-column: span 6;
    max-height: 354px;
  }
  .benefits__title{
    margin-bottom: 60px;
  }
  .article__info_link{
    margin-bottom: 20px;
  }
  .intro__form{
    margin-bottom: 50px;
  }
  .header__burger{
    display: block;
  }
  .header__nav{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear;
  }
  .header__nav_active{
    transform: translateX(0);
  }

  .nav__item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .nav__item:last-child{
    margin-bottom: 0;
  }
  .nav__item_link{
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav_close{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 55px;
    right: 5px;
    z-index: 11;
  }
  .header__nav_close-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header__nav_close-line:first-child{
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav_close-line:last-child{
    transform: translateY(-50%) rotate(-45deg);
  }
}



@media screen and (max-width:540px){
  .intro__form{
    margin-bottom: 15px;
  }
}

@media screen and (max-width:476px){
  .trip__link_view-all{
    display: block;
  }
  .trip__cards{
    margin: 90px 0 131px;
  }
  .top__cards{
    row-gap: 75px;
  }
  .top__card{
    grid-column: span 6;
  }
  .video_item{
    height: 250px;
  }
  .section__title{
    font-size: 30px;
  }
  .benefits__block{
    padding: 93px 50px 60px;
  }

}

@media screen and (max-width:431px){
  .footer__nav_list{
    margin-bottom: 30px;
  }
  .video_item{
    height: 200px;
  }
  .intro__form{
    margin-bottom: 8px;
  }
}

@media screen and (max-width:408px){
  .intro__title{
    margin-top: 170px;
    font-size: 40px;
    line-height: 50px;
  }
  .search-form__field{
    margin-bottom: 20px;
  }
  .search-form__button{
    margin-top: 10px;
  }
  .section__title{
    display: block;
  }

}

@media screen and (max-width:368px){
  .benefits__block{
    padding: 60px 10px;
    margin-bottom: 60px;
  }
 
}

@media screen and (max-width:322px){
  .search-form__button{
    padding: 15px 0px;
    width: 258px;
  }
  .search-form__field{
    width: 258px;
    margin-right: 5px;
    padding-left: 30px;
  }
  .intro__title{
    margin-top: 130px;
  }
}

@media screen and (max-width:283px){
  .benefits__card_img{
    margin-right: 10px;
  }
}

@media screen and (max-height:823px){
  body{
    background-size: auto auto;
  }
}


/*media END*/

